body {
background-color: #FFFFFF;
font-family: Proxima Nova;
max-width: 50%
height: auto;
}

h1 {
color: black;
font-size: 40px;
margin-top: 20px;
margin-left: 20px;
}

h2 {
color: black;
font-size: 30px;
margin-left: 20px;
}

h3 {
color: black;
font-size: 20px;
font: bold;
margin-left: 20px;
}

h4 {
  color: white;
  font-size: 50px;
  font:bold;
  text-align: center;
}

p {
color: #black;
font-size: 20px;
margin-left: 20px;
}

.topnav {
  background-color:#1F7A8C;
  overflow: hidden;
  margin-top: -10px;
  margin-left: -10px;
}

.topnav a {
  float: right;
  color: #FFFFFF;
  text-align: center;
  padding: 28px 32px;
  text-decoration: none;
  font-size: 17px;
  font-family: Proxima Nova;
}

.topnav a:hover {
  background-color: #033B4F;
  color: white;
}

.topnav a.active {
  background-color: #033B4F;
  color: white;
}
/*
footer {
  background-color: #022C3C;
  padding: 8px;
  text-align: center;
  color: white;
}

.container {
  border: 2px solid #A8D0DB;
  background-color: #E7EEED;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}
*/

.responsive {
  width: 60%;
  height: 60%;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: auto;
  perspective: 2500px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  transition: transform 2.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #022C3C;
  color: white;
}

.flip-card-back {
  background-color: #022C3C;
  color: white;
  transform: rotateY(180deg);
}

footer {
  background-color: #022C3C;
  padding: 8px;
  text-align: center;
  color: white;
}
