body {
background-color: #FFFFFF;
font-family: Proxima Nova;
max-width: 50%
height: auto;
}

h1 {
color: black;
font-size: 40px;
margin-top: 20px;
margin-left: 20px;
}

h2 {
color: black;
font-size: 30px;
margin-left: 40px;
}

h3 {
color: #black;
background-color: #A8D0DB;
text-align: left;
padding: 20px 20;
font-size: 25px;
font: bold;
margin-left: 20px;
}

h4 {
color: #black;
font-size: 50px;
text-align: center;
font: bold;
margin-left: 20px;
}

h5 {
color: #black;
font-size: 20px;
text-align: center;
font: bold;
margin-left: 20px;
}

p {
color: #black;
font-size: 20px;
margin-left: 20px;
}

.topnav {
  background-color:#1F7A8C;
  overflow: hidden;
  margin-top: -10px;
  margin-left: -10px;
}

.topnav a {
  float: right;
  color: #FFFFFF;
  text-align: center;
  padding: 28px 32px;
  text-decoration: none;
  font-size: 17px;
  font-family: Proxima Nova;
}

.topnav a:hover {
  background-color: #033B4F;
  color: white;
}

.topnav a.active {
  background-color: #033B4F;
  color: white;
}

/*
footer {
  background-color: #022C3C;
  padding: 8px;
  text-align: center;
  color: white;
}

.container {
  border: 2px solid #A8D0DB;
  background-color: #E7EEED;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}

.responsive {
  width: 50%;
  height: auto;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: auto;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #FFFFFF;
  color: black;
}

.flip-card-back {
  background-color: #FFFFFF;
  color: black;
  transform: rotateY(180deg);
}

table.parte1{
  border-collapse:separate;
  width: 100%;
   text-align: left;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
 }
caption, td {
   padding: 0.3em;
}
td {
   border-bottom: 4px solid #1F7A8C;
}
td.last {
   border-right: 0;
}
tfoot td {
   border-bottom: 0;
   text-align: center;
}
}

table.parte2{
  border-collapse:separate;
  width: 100%;
   text-align: left;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
}
caption, td {
   padding: 0.3em;
}
td {
   border-bottom: 4px solid #1F7A8C;
}
td.last {
   border-right: 0;
}
tfoot td {
   border-bottom: 0;
   text-align: center;
}
}

#contenedor {
float: center;
width: 1200px;
}

#tabla1 {
margin-left:50px;
float: left;
width: 550;
}

#tabla1 table {
text-align: left;
}

#tabla1 table tr td {
width: 550px
margin-left: 50px;
border-top: 2px solid #1F7A8C;
}

#tabla2 {
margin-left:40px;
margin-top:80px;
float: left;
width: 550;
}

#tabla2 table {
text-align: left;
}

#tabla2 table tr td {
width: 550px
margin-left: 50px;
border-top: 2px solid #1F7A8C;
}

*/

#contenedor {
width: auto;
height: auto;
}

#tabla1 {
margin-left:50px;
float: left;
width: auto;
height: auto;
}

#tabla1 table {
text-align: left;
color: #E7EEED;
}

#tabla1 table tr td {
width: 550px;
margin-right:50px;
line-height : 25px;
border-top: 2px solid #A8D0DB;
}

#tabla2 {
margin-right:50px;
float: right;
width: auto;
height: auto
}

#tabla2 table {
text-align: left;
color:#022C3C;
}

#tabla2 table tr td {
width: 550px;
margin-left: 50px;
line-height : 25px;
border-top: 2px solid #1F7A8C;
}

table.prueba{
   width:auto;
   height:auto;
   border:5px solid #033B4F;
   border-radius:22px;
   background-color:#033B4F;
   padding:23px;
}

table.prueba2{
   width:auto;
   height:auto;
   border:2px solid #E7EEED;
   border-radius:22px;
   background-color:#E7EEED;
   padding:20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
